body {
  overflow: hidden;
}

i.medium {
  font-size: 2.5rem;
  margin:0 7px;
  border:1px solid transparent;
}
.controls i.active,
.controls i:hover {
  border:1px solid #ff8a80;
  border-radius: 50px;
  background: #fff;
  color: #ee6e73;
}
.playlist .collection-item {
    cursor: pointer;
}
.playlist .collection-item.active .playlist-img,
.playlist .collection-item:hover .playlist-img {
  background: #ee6e73 !important;
}

.progressbar {
  color:#fff;
  border:5px solid red;
}
.hidden {
  display: none;
}

.dz-default {
  display: none;
}

.collapsible {
  margin-top: 0 !important;
}

.playlist-controls a {
  position:absolute;
  right: 1rem;
  color:rgba(255, 255, 255, 0.7);
}
